{% extends "App_critik/father.html" %}
{% load static %}

{% block masterhead %}
series
{% endblock %}

{% block title %}
busca tus favoritas
{% endblock %}

{% block main %}

<div style="display: flex;">

  <div class="card" style="width: 18rem; margin: 1rem ;">
    <img src="{% static 'App_critik/assets/img/posters/add_movie.jpg' %}" class="card-img-top pb" alt="...">
    <div class="card-body">
      <h5 class="card-title">Agregá una nueva serie</h5>
      <p class="card-text">Tenes que ser administrador para agregar series</p>
      <a href="{% url 'add_show' %}" class="btn btn-primary">Acá</a>
    </div>
  </div>

  {% for show in show_catalogue %}
  <div class="card" style="width: 18rem; margin: 1rem;">
      <img src="/media/{{ show.show_poster }}" class="card-img-top pb" alt="{{ show.show_name }}">
      <div class="card-body">
          <h5 class="card-title">{{ show.show_name }}</h5>
          <p class="card-text">{{ show.show_release_year }}</p>
          <a href="{% url 'show_info' show_id=show.id %}" class="btn btn-primary">Ver reviews</a>
          {% if user.id == show.usuario_id %}
          <a href="{% url 'edit_show' show.show_name %}" class="btn btn-primary">Editar</a>
          <a href="{% url 'delete_show' show.show_name %}" class="btn btn-primary">Eliminar</a>
          {% endif %}
      </div>
  </div>
  {% endfor %}

</div>

{% endblock %}