{% extends "App_critik/father.html" %}
{% load static %}

{% block masterhead %}
   Mira los reviews de {{ selected_movie.movie_name }}
{% endblock %}

{% block title %}
    <div style="display: flex;">

        <div class="card" style="width: 18rem; margin: 1rem ;">
            <img src="/media/{{ selected_movie.movie_poster }}" class="card-img-top" alt="selected_movie.movie_name">
            <div class="card-body">
            <h3 class="card-title">{{ selected_movie.movie_name }} ({{ selected_movie.movie_release_year }})</h3>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item"> <h5>Director: {{ selected_movie.movie_director }}</h5></li>
            <li class="list-group-item"> <h5>Género: {{ selected_movie.movie_genre }} </h5></li>
            <li class="list-group-item"><h5>Protagonista: {{ selected_movie.movie_protagonist }}</h5></li>
            </ul>
        </div>

        <div class="container column">
          {% if not reviews %}
            <h1>Aun no hay reviews.</h1>
            <a href="{% url 'movie_review' %}" class="btn btn-primary">Dejar una review</a>
          {% else %}
            {% for review in reviews %}
                <div class="container column">
                    <div class="row-3 card w-75 mb-3">
                        <div class="card-body">
                            <h2 class="card-title">Le doy un puntaje de: {{ review.movie_score }}</h2>
                            <h5 class="card-text">Mi personaje favorito fue: {{ review.favorite_movie_character }}</h5>
                            <h6 class="card-text">" {{ review.movie_review }} "</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <a href="{% url 'movie_review' %}" class="btn btn-primary">Dejar una review</a>
          {% endif %}
        </div>
    </div>
    <br>
    

{% endblock %}