{% extends "App_critik/father.html" %}
{% load static %}

{% block masterhead %}
películas
{% endblock %}

{% block title %}
busca tus favoritas
{% endblock %}

{% block main %}

<div class="card" style="width: 18rem;">
    <img src="https://i.pinimg.com/originals/3e/4b/ca/3e4bcac3c4352f07eda2a0fe784384b7.jpg" class="card-img-top pb" alt="...">
    <div class="card-body">
      <h5 class="card-title">Everything Everywhere All At Once</h5>
      <p class="card-text">2022</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>

{% endblock %}
