{% extends "App_critik/father.html" %}
{% load static %}

{% block masterhead %}
series
{% endblock %}

{% block title %}
busca tus favoritas
{% endblock %}

{% block main %}

<div class="card" style="width: 18rem;">
    <img src="https://www.tallengestore.com/cdn/shop/products/HowIMetYourMother-ClassicTVShowPoster_638fff11-f63e-451a-b9a1-08e33e11388d.jpg?v=1596545794" class="card-img-top pb" alt="...">
    <div class="card-body">
      <h5 class="card-title">How I Met Your Mother</h5>
      <p class="card-text">2005 - 2014</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>

{% endblock %}